@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #f5a807;
    --secondary-color: #021b4b;
    --sub-primary-color: #f5aa07c5;
    --sub-secondary-color: #01153a;
    --text-color: #f0f0f0;
    --border-color: #f0f0f06b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

.top-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    height: 70px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dropdown-menu a {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color);
    transition: 0.25s;
}

.dropdown-menu a:hover {
    color: var(--primary-color);
}

.dropdown-menu a:hover svg {
    fill: var(--primary-color);
}

.navbar-logo {
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.navbar-logo img {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 0;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

.dropdown-menu {
    display: flex;
    position: relative;
    height: inherit;
}

.dropdown-menu:hover .sub-menu {
    display: flex;
}

.sub-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    width: 260px;
    background-color: var(--secondary-color);
}

.sub-menu a {
    height: 60px;
    padding: 0 30px;
}

.sub-menu a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--text-color);
    background-image: url(../assets/img/languages.jpg);
    background-size: cover;
}

@media(max-width: 880px) {
    nav {
        justify-content: flex-end;
    }

    .links-container {
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--secondary-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
        gap: 0;
    }

    .navbar-logo {
        height: auto;
        width: 100%;
        margin: 0 0 20px;
    }

    .navbar-logo img {
        height: 100px;
        width: 170px;
    }

    .dropdown-menu {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0 0 1px;
        padding: 16px 30px;
        border-bottom: solid 1px var(--border-color);
    }

    .dropdown-menu a {
        height: auto;
        width: fit-content;
        padding: 0;
    }

    .sub-menu {
        position: static;
        width: 100%;
    }

    .sub-menu a {
        height: auto;
        font-size: smaller;
        margin: 12px 20px 0;
        padding: 0;
    }

    .sub-menu a:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

    .hero-section {
        background-size: contain;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~.overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }
}