@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {
  --primary-color: #f5a807;
  --secondary-color: #021b4b;
  --cr-gray: #f4f5f7;
  --sub-primary-color: #f5aa07c5;
  --sub-secondary-color: #01153a;
  --text-color: #f0f0f0;
  --border-color: #6b7280;
  --navbar-height: 80px;
  --max-width: 1920px;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

/* Variables */

/* Page CSS */

html {
  font-size: 1rem;
  font-family:
    Poppins,
    Segoe UI,
    Tahoma,
    sans-serif;
}

body {
  min-height: 100vh;
  color: white;
  background: var(--secondary-color);
  display: block;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page CSS */

/* Display section */

.flex-important {
  display: flex !important;
}

.block-important {
  display: block !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Display section */

/* Height and Width section */

/* 2xl:h-carousel */
@media (min-width: 1536px) {
  .h-carousel {
    height: calc(100vh - 80px) !important;
  }
}

.h-110 {
  height: 50rem;
}

.h-300-px {
  height: 300px;
}

.h-180-px {
  max-height: 180px;
}

.w-17rem {
  width: 17rem;
}

.max-w-24 {
  max-width: 22.5rem;
}

.max-w-30 {
  max-width: 30rem;
}

.w-180-px {
  max-width: 180px;
}

.max-w-34 {
  max-width: 34rem;
}

/* Height and Width section */

.image-header {
  background-image: url(/src/assets/img/Coverpage-001.jpg);
  background-position: 80%;
}

.duration-2000 {
  transition-duration: 2000ms;
}

.cr-border-button {
  border: 2px solid var(--text-color);
}
