@import './reset.css';
/* @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Siemreap&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Siemreap&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {
  --primary-color: #f5a807;
  --secondary-color: #021b4b;
  --sub-primary-color: #f5aa07c5;
  --sub-secondary-color: #01153a;
  --color-cr-gray-darker: #1f2937; /* text-gray-800 */
  --color-cr-gray-dark: #6b7280; /* text-gray-600 */
  --color-cr-gray-light: #f4f5f7;

  --max-width-img-sm: 20rem; /*320px*/
  --max-width-img-md:  770px;
    --navbar-height: 80px;
  --navbar-height-mobile: 60px;
  --max-width: 1920px;
}

/* Variables */

/* Color */
.text-cr-gray-darker {
  color: var(--color-cr-gray-darker);
}

.text-cr-gray-dark {
  color: var(--color-cr-gray-dark);
}

.text-cr-gray-light {
  color: var(--color-cr-gray-light);
}

.bg-cr-primary {
  background-color: var(--primary-color) !important;
}

.bg-cr-gray-darker {
  background-color: var(--color-cr-gray-darker);
}
.bg-cr-gray-dark {
  background-color: var(--color-cr-gray-dark);
}

.bg-cr-gray-light {
  background-color: var(--color-cr-gray-light);
}

/* Page CSS */

html {
  font-size: 1rem;
  font-family: 'Siemreap', sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  color: var(--color-cr-gray-light); /* text-gray-600 */
  font-weight: 400;
  background: var(--secondary-color);
  display: block;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page CSS */

/* HTML element CSS */
p {
  text-align: center;
}

/* HTML element CSS */

/* Display section */

.flex-important {
  display: flex !important;
}

.block-important {
  display: block !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Display section */

/* Height and Width section */

/* 2xl:h-carousel */
@media (min-width: 1536px) {
  .h-carousel {
    height: calc(100vh - 80px) !important;
  }
}

.h-110 {
  height: 50rem;
}

.h-300-px {
  height: 300px;
}

.h-180-px {
  max-height: 180px;
}

.h-45-px {
  height: 45.2px;
}
.w-17rem {
  width: 17rem;
}

.max-w-24 {
  max-width: 22.5rem;
}

.max-w-30 {
  max-width: 30rem;
}

.w-180-px {
  max-width: 180px;
}

.max-w-34 {
  max-width: 34rem;
}

.w-2-px {
  width: 3px;
}

/* end Height and Width section */

.cr-img-sm-16-9 {
  max-width: var(--max-width-img-sm);
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.cr-img-md-16-9 {
  max-width: var(--max-width-img-md);
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.cr-img-md-3-2 {
  max-width: var(--max-width-img-md);
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.duration-2000 {
  transition-duration: 2000ms;
}

.cr-border-button {
  border: 2px solid var(--color-cr-gray-light);
}

.border-top {
  border-top: 1px solid var(--primary-color);
  border-style: dashed;
}
.border-bottom {
  border-bottom: 1px solid var(--primary-color);
  border-style: dashed;
}

.border-1 {
  border: 1px solid var(--color-cr-gray-light);
}

.border-rounded-sub-primary {
  border: 2px solid var(--sub-primary-color);
  border-radius: 0.25rem;
}

input {
  background-color: var(--color-cr-gray-light);
  color: var(--color-cr-gray-darker);
}

textarea {
  background-color: var(--color-cr-gray-light);
  color: var(--color-cr-gray-darker);
}

label {
  color: var(--color-cr-gray-darker);
}

button[type='submit'] {
  background-color: var(--secondary-color);
  color: var(--color-cr-gray-light);
}

.resize-btn {
  position: absolute;
  right: -20px;
  top: -45px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
}

.pb-none {
  padding-bottom: 0 !important;
}

/* for paypal */

@media (max-width: 640px) {
  /*medium*/
  .css-to8mgr {
    width: 19.75rem !important;
  }
}
