@import './reset.css';
/* @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Siemreap&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Siemreap&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {
  --primary-color: #f5a807;
  --secondary-color: #021b4b;
  --cr-gray: #f4f5f7;
  --sub-primary-color: #f5aa07c5;
  --sub-secondary-color: #01153a;
  --text-color: #f0f0f0;
  --border-color: #6b7280;
  --navbar-height: 80px;
  --max-width: 1920px;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
}

/* Variables */

/* Page CSS */

html {
  font-size: 1rem;
  font-family: 'Siemreap', sans-serif;
  font-weight: 400;
}

body {
  min-height: 100vh;
  color: #4b5563; /* text-gray-600 */
  background: var(--secondary-color);
  display: block;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page CSS */

/* HTML element CSS */
p {
  text-align: center;
}

/* HTML element CSS */

/* Display section */

.flex-important {
  display: flex !important;
}

.block-important {
  display: block !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Display section */

/* Height and Width section */

/* 2xl:h-carousel */
@media (min-width: 1536px) {
  .h-carousel {
    height: calc(100vh - 80px) !important;
  }
}

.h-110 {
  height: 50rem;
}

.h-300-px {
  height: 300px;
}

.h-180-px {
  max-height: 180px;
}

.w-17rem {
  width: 17rem;
}

.max-w-24 {
  max-width: 22.5rem;
}

.max-w-30 {
  max-width: 30rem;
}

.w-180-px {
  max-width: 180px;
}

.max-w-34 {
  max-width: 34rem;
}

.w-2-px {
  width: 3px;
}

/* Height and Width section */

.duration-2000 {
  transition-duration: 2000ms;
}

.cr-border-button {
  border: 2px solid var(--text-color);
}

.border-top {
  border-top: 1px solid var(--primary-color);
  border-style: dashed;
}
.border-bottom {
  border-bottom: 1px solid var(--primary-color);
  border-style: dashed;
}

.border-1 {
  border: 1px solid var(--text-color);
}
